@charset "utf-8";

.main_visual {
  padding: 170px 72px;
  background-image: url(../img/main_bg.png);
  position: relative;
  width: 100%;
  height: 130vh;
  overflow: hidden;
}

.visual_bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.visual_inner {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main_title {
  font-size: var(--h1);
  font-weight: 700;
  letter-spacing: var(--letter-spacing-base);
  line-height: 1.05;
  color: #fff;
  position: absolute;
  left: 55px;
  top: 0;
  z-index: 2;
  mix-blend-mode: difference;
}

.ticket {
  position: absolute;
  right: -660px;
  bottom: 20px;
  display: flex;
  align-items: center;
  z-index: 3;
}

.ticket_left {
  width: 200px;
  flex-shrink: 0;
  transform-origin: right center;
}

.ticket_right {
  width: 430px;
  flex-shrink: 0;
  transform-origin: left center;
}

.info_wrap {
  position: absolute;
  bottom: 0;
  left: 80px;
  right: 80px;
  display: flex;
  gap: 172px;
  color: var(--gray_06);
  z-index: 2;
}

.info_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  position: relative;
  padding-left: 14px;
  font-size: 24px;
  margin-bottom: 44px;
  color: var(--gray_06);
}

.label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 18px;
  background: var(--gray_06);
}

.info_right .label {
  margin-bottom: 60px;
}

.info_block .day {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: -0.06em;
  color: var(--gray_06);
}

.info_block .time {
  font-size: 28px;
  font-weight: 500;
  color: var(--gray_06);
}

.price {
  font-size: 32px;
  font-weight: 600;
  color: var(--gray_06);
}

/* about */

.about {
  height: 300vh;
  position: relative;
  background: var(--bg_about);
  width: 100%;
  padding-inline: 0;
  padding: 170px 72px;
}

.about_scene {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: center;

}

.ticket_bg {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

.t {
  position: absolute;
  opacity: 0.15;
  filter: blur(2px);
  will-change: transform, opacity;
  pointer-events: none;
}

.t1 {
  width: 220px;
  left: 8%;
  top: -280px;
  transform: rotate(-15deg);
}

.t2 {
  width: 380px;
  left: 30%;
  top: -320px;
  transform: rotate(8deg);
}

.t3 {
  width: 200px;
  left: 58%;
  top: -260px;
  transform: rotate(-22deg);
}

.t4 {
  width: 340px;
  left: 72%;
  top: -300px;
  transform: rotate(12deg);
}

.t5 {
  width: 180px;
  left: 18%;
  top: -200px;
  transform: rotate(5deg);
}

.about_inner {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 170px 0;
}

.about_hero {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  text-align: center;
}

.about_desc_large {
  font-size: 130px;
  letter-spacing: var(--letter-spacing-base);
  font-weight: 500;
}

.about_sub {
  font-size: 72px;
  letter-spacing: var(--letter-spacing-base);
  font-weight: 500;

}

.about_title {
  font-size: 28px;
  font-weight: 400;
  color: var(--main_white);
  letter-spacing: -0.04em;
  text-align: center;
  margin-bottom: 110px;
}

.about_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  opacity: 0;
  transform: translateY(40px);
  will-change: opacity, transform;

}

.stats_wrap {
  position: relative;
  width: 100%;
}

.line_left {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%) scaleX(var(--line-scale, 0));
  transform-origin: right center;
  width: 200vw;
  height: 1px;
  background: var(--main_white);
  opacity: 1;
}


.line_right {
  position: absolute;
  top: 50%;
  left: 63%;
  transform: translateY(-50%) scaleX(var(--line-scale, 0));
  transform-origin: left center;
  width: 100vw;
  height: 1px;
  background: var(--main_white);
}

.stats {
  display: flex;
  justify-content: center;
  gap: 0;
  position: relative;
  z-index: 2;
}

.stat {
  width: 400px;
  height: 400px;
  border: 1px solid var(--main_white);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0.8);
  will-change: opacity, transform;
  margin-left: -80px;
  position: relative;
}

.stat:first-child {
  margin-left: 0;
}

.label_small {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-family: var(--pretendard);
}

.stat strong {
  font-family: var(--pretendard);
  font-size: 70px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

/* artist prize */
.artist_prize {

  position: relative;
  width: 100%;
  height: 400vh;
  background: var(--main_black);
  overflow: visible;
  padding-bottom: 120px;
}

.artist_prize .title {
  position: absolute;
  top: 120px;
  left: 120px;
  z-index: 10;
  padding-left: 76px;
}

.title_main {
  font-family: var(--cabinetgrotesk);
  font-size: 200px;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 1px var(--main_white);
}

.line {
  display: flex;
  gap: 60px;
}

.title_main span {
  display: inline-block;

  font-family: var(--cabinetgrotesk);
  font-size: 200px;
  font-weight: 600;

  color: transparent;
  -webkit-text-stroke: 1px var(--main_white);

  transition: all 0.4s ease;
}

.title_main span.active {
  color: var(--main_white);
}

/* hover */
.title_main span:hover {
  background-position: left;
}

.line:nth-child(2) {
  margin-left: 200px;
}

.line:nth-child(3) {
  margin-left: 500px;
}

.title_sub {
  margin-top: 174px;
  font-size: 72px;
  color: var(--main_white);
  font-weight: 500;
}


.card_zone {
  position: relative;
  width: 100%;
  height: 4000px;
}

.card {
  position: absolute;
  width: 500px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.4s ease;
  background: var(--main_black);
  box-shadow: 0 4px 15.6px rgba(255, 255, 255, 0.08);
  padding: 18px;
}


.card .top {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.card .top img {
  width: 100%;
  object-fit: cover;
  display: block;
}


.txt_box {
  position: relative;
  margin: 40px;
  text-align: center;
}

.txt_box h3 {
  font-family: var(--pretendard);
  font-size: 56px;
  font-weight: 600;
  letter-spacing: 0.08em;
  line-height: 1.4;
  color: transparent;
  -webkit-text-stroke: 1px var(--main_white);
}

.card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.logo img {
  width: 71px;
}

.arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
}


.card_2025 {
  width: 640px;
  top: 1200px;
  right: 150px;
  z-index: 6;
  background: var(--main_white);
}

.card_2025 h3 {
  color: var(--main_white);
  -webkit-text-stroke: 1px var(--main_black);
}


.card_2024 {
  width: 500px;
  top: 1400px;
  left: 100px;
  z-index: 4;
}

.card_2024 h3 {
  font-size: 48px;
}

.card_2023 {
  width: 500px;
  top: 2500px;
  left: 100px;
  z-index: 3;
}

.card_2023 h3 {
  font-size: 48px;
}

.card_2022 {
  width: 500px;
  top: 1800px;
  left: 700px;
  z-index: 6;
}

.card_2022 h3 {
  font-size: 48px;
}

.card_2021 {
  width: 500px;
  top: 2500px;
  right: 140px;
  z-index: 5;
}

.card_2021 h3 {
  font-size: 48px;
}

.side_title {
  position: absolute;
  left: 1000px;
  bottom: 300px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  z-index: 999;
}

.side_title span {
  font-size: 200px;
  font-weight: 700;
  letter-spacing: var(--main_black);
  color: var(--main_white);
}

.icon {
  position: absolute;
  right: 100px;
  bottom: 280px;
}


.view_btn {
  position: absolute;
  bottom: 280px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

.view_btn a {
  padding: 28px 100px;
  border-radius: 999px;
  background: #fff;
  color: #000;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -0.04em;
  transition: all 0.3s ease;
}

.view_btn a:hover {
  background: #FF4B24;
  color: #fff;
}

/* news */

.news {
  width: 100%;
  padding: 120px 0;
  position: relative;
}

.news_inner {
  width: 1400px;
  margin: 0 auto;
  position: relative;
}


.news_group {
  position: sticky;
  top: 0;
  padding-top: 120px;
  z-index: 10;
  background: #f5f5f5;
  clip-path: polygon(0 0,
      260px 0,
      320px 60px,
      100% 60px,
      100% 100%,
      0 100%);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  transition: transform 0.45s cubic-bezier(0.22, 1, 0.36, 1);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.news_group:nth-child(1) {
  top: 0;
  z-index: 10;
}

.news_group:nth-child(2) {
  top: 80px;
  z-index: 20;
}

.news_group:nth-child(3) {
  top: 160px;
  z-index: 30;
}

.news_head {
  position: absolute;
  top: 20px;
  left: -20px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  background: transparent;
}

.news_head h2 {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: var(--letter-spacing-base);
}

.news_head a {
  display: block;
  color: #000;
}

.news_more {
  font-size: 22px;
  color: var(--main_black);
  letter-spacing: var(--letter-spacing-base);
  position: absolute;
  right: 50px;
  top: 70px;
}


.news_group.notice>.news_more {
  color: var(--main_white);
}

.news_body {
  padding: 100px 40px 60px;
  border-top: 1px solid #000;
}

.notice .news_body {
  border-top: 1px solid var(--main_white);
}

.news_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}

.news_card {
  background: #fff;
  overflow: hidden;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.news_thumb {
  width: 100%;
  height: 400px;
  background: #ccc;
}

.news_thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.news_txt {
  flex: 1;
}

.news_txt h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.news_txt p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 10px;
}

.news_date {
  font-size: 12px;
  opacity: 0.5;
}

.news_cate {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #ff4b24;
}

.events {
  background: var(--gray_06);
}

.events .news_head {
  color: #111;
}

.press {
  background: #AFAFAF;
}

.press .news_head {
  color: #111;
}

.notice {
  background: #1e1e1e;
}

.notice .news_head {
  background: #1e1e1e;
  color: #fff;
}

.notice .news_txt h3,
.notice .news_txt p,
.notice .news_date {
  color: #fff;
}

.news_group h3{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 공통 카드 텍스트 영역 */
.news_card{
  background: transparent;
}

.news_card a{
  display: block;
}

.news_txt{
  flex: 1;
  margin-top: 30px;
}

/* 공통 제목 */
.news_group .news_txt h3{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: -1.12px;
  margin-bottom: 14px;
}

/* 공통 내용 */
.news_group .news_txt p{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.54px;
  margin-bottom: 18px;
}

/* 공통 날짜 */
.news_group .news_date{
  display: block;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.72px;
}

/* PRESS */
.news_group.press .news_txt h3,
.news_group.events .news_txt h3{
  color: #000;
}

.news_group.press .news_txt p,
.news_group.events .news_txt p{
  color: rgba(0,0,0,0.5);
}

.news_group.press .news_date,
.news_group.events .news_date{
  color: #666;
}

/* NOTICE */
.news_group.notice .news_txt{
  margin-top: 26px;
}

.news_group.notice .news_cate{
  display: block;
  margin-bottom: 10px;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.72px;
}

.news_group.notice .news_txt h3{
  color: #fff;
}

.news_group.notice .news_txt p{
  color: rgba(255,255,255,0.65);
}

.news_group.notice .news_date{
  color: rgba(255,255,255,0.6);
}

/* NOTICE 카테고리 컬러 */
.news_group.notice .news_cate.gwacheon{ color:#00C389; }
.news_group.notice .news_cate.seoul{ color:#FF5A36; }
.news_group.notice .news_cate.recruit{ color:#F4E85A; }
.news_group.notice .news_cate.tour{ color:#B8A07A; }


/* shop */

.shop {
  height: 300vh;
  background: var(--main_black);
  padding: 170px 72px;
}

.shop_sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: visible;
  perspective: 1200px;
}

.glow_bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 700px;
  height: 400px;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8), transparent 70%);
  filter: blur(60px);
  opacity: 0;
  z-index: 1;
}

.glass_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 640px;
  height: 400px;
  transform: translate(-50%, -50%) scale(1);
  transform-style: preserve-3d;
  z-index: 10;
}

.glass_inner {
  position: absolute;
  inset: 0;
  overflow: visible;
  border-radius: 24px;
  z-index: 1;
}

.glass_box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 24px;
  filter: blur(2px);
}

.glass_front {
  position: absolute;
  inset: 0;
  border-radius: 24px;
  backdrop-filter: blur(12px);
  background: rgba(30, 30, 30, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  text-align: center;
}

.glass_front p {
  font-size: 32px;
  font-weight: 300;
  color: rgba(30, 30, 30, 0.5);
  margin-bottom: 20px;
}

.glass_front h2 {
  font-size: 100px;
  font-weight: 500;
  font-family: var(--pretendard);
  color: rgba(40, 40, 40, 0.7);
  line-height: 1.1;
}

.glass_front span {
  font-weight: 500;
}

.p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.6);
  opacity: 0;
  will-change: transform, opacity;
  z-index: 6;
}

.p1,
.p2,
.p3,
.p4,
.p5,
.p6,
.p7,
.p8,
.p9 {
  width: 400px;
}